.listItemContainer {
    border-radius: 12px;
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    background: #F3F6F9;
}

.buttonsContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.listItemMessage {
    background: #fdfdfd;
    min-height: 100%;
    width: 100%;
    margin-left: 15px;
    padding: 4px 10px;
    border-radius: 6px;
}

.isComplete {
    text-decoration: line-through;
}
